.App {
  width: 100%;
  text-align: center;
  font-weight: 100;
  height: 100vh;
  background-image: url("../../images/Flor.svg"), url("../../images/Flor.svg");
  background-position: bottom 0% right 0%;
  background-repeat: no-repeat;
  background-size: 15vmax;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

input,
textarea,
button {
  font-family: "Gilda Display";
  border: none;
}

.contenedorContenidoCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.whiteButton {
  background-color: white;
  color: #9c87e0;
}

.purpleButton {
  background-color: #9c87e0;
  color: white;
}

.whiteButton,
.purpleButton {
  font-size: 0.8em;
  border-radius: 0.6em;
  padding: 0.5em 3em;
  cursor: pointer;
  transition: 0.3s ease all;
}

body {
  font-size: 18px;
}

@media (max-width: 768px) and (min-width: 577px) {
  body {
    font-size: 10px;
  }

  .Card {
    padding: 5px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
  }
  .Card {
    padding: 5px;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  body {
    font-size: 12px;
  }
  .Card {
    padding: 5px;
  }
}

@media (max-width: 1200px) and (min-width: 993px) {
  body {
    font-size: 14px;
  }
  .Card {
    padding: 5px;
  }
}

@media (max-width: 1400px) and (min-width: 1201px) {
  body {
    font-size: 16px;
  }
  .Card {
    padding: 5px;
  }
}
