.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  width: 100vw;
  padding: 2% 0;
  text-align: center;
  color: #000;
}

.footer h3 {
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.botonIdea{
  text-decoration: none;
  color: #fff;
  background-color: #9c87e0;
  width: 20%;
  border-color: transparent;
  border-radius: 10em;
  padding: 0.5% 0;
  cursor: pointer;
  transition: all 1s;
  font-size: 1rem;
}

.botonIdea:hover {
  animation: 3s pulsation infinite;
}

@keyframes pulsation {
  0% {
    scale: 1.1;
    box-shadow: 0px 0px 5px 1px #87a9e0;
  }
  50% {
    scale: 1;
    box-shadow: 0px 0px 10px 3px #87a9e0;
  }
  100% {
    scale: 1.1;
    box-shadow: 0px 0px 5px 1px #87a9e0;
  }
}

@media (max-width: 576px) {
  .botonIdea{
    width: 50%;
  }
}
