/*nav.menu-items {
  width: 80%;
  margin: auto;
  padding: 0.5em 0;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.menu-items .items .menu-item {
  text-decoration: none;
  color:#333;
  margin-right: 10px;
  padding: 10px;
  transition: .3s ease all;
}
.brand {
  color:#9C87E0;
  font-weight: bold;
}

.menu-items .items .menu-item.active {
  color:#9C87E0;
  font-weight: bold;
}

.menu-items .items .menu-item:hover {
  color:#9C87E0;
}
*/
.navHeader {
  width: 100%;
  padding: 0.5em 0;
  box-shadow: 0 0 0.4em #9c87e0;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  color: #9c87e0;
}

.navHeader ul {
  padding: 0 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1em;
}

.navHeader ul span {
  min-width: 350px;
  width: 60%;
  justify-content: space-evenly;
  display: flex;
}

.logo .link,
.logo {
  color: #9c87e0;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.logo img {
  border-radius: 0.2em;
  width: 2em;
}

.navHeader h1 {
  font-size: 1em;
  font-weight: 100;
}

.buttonMenu {
  background-color: #9c87e0;
  padding: 0.3em 0.5em 0.2em;
  width: auto;
  display: none;
}

.buttonMenu img {
  width: 1em;
}

@media (max-width: 451px) {
  .navHeader ul {
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    gap: 0.2em;
  }
  .navHeader ul span {
    flex-direction: column;
    gap: 0.3em;
    display: none;
  }
  .navHeader ul span .link {
    letter-spacing: 0.3em;
    border-bottom: 0.05em solid #9c87e0;
    display: block;
  }
  .buttonMenu {
    display: block;
  }
}
