.container {
  width: 100vw;
  padding: 2em 0;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
}

.container a {
  width: 20%;
  margin-bottom: 5%;
}

@media (max-width: 576px) {
  .container {
    justify-content: center;
    flex-direction: column;
    padding: 2em 0;
    margin-left: -10%;
  }
}