.container {
  padding: 2em 2em;
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 576px) {
  .container {
    justify-content: center;
    flex-direction: column;
    padding: 2em 0;
    margin-left: -10%;
  }
}