.container {
  position: relative;
  width: 100vw;
  height: 40vh;
  padding: 2em 0;
  text-align: center;
  background-color: #9c87e0;
}

.information {
  color: #FFF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.flower {
  width: 10%;
  height: 100%;
}

.left {
  position: absolute;
  left: 0;
  bottom: -30%;
}

.right {
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  bottom: -30%;
}
