.section-pedidos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em
}

.containerCalendar {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerCalendar > div {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --color-primario: #9c87e0;
}

.containerMonth {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.containerMonth button {
  font-size: 3em;
  color: var(--color-primario);
  background-color: white;
  width: 3em;
  padding: 0;
  margin: 0;
}

thead td:last-child,
tbody td:last-child {
  border-right: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: var(--color-primario);
}

thead {
  font-weight: bold;
}

thead td,
tbody td {
  border-right: 0.1em solid var(--color-primario);
}
