.ProductInfo{
    margin: 3em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.containerProduct{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    gap: 3em;
}

.containerProductInfo{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

.containerFlexInfo{
    display: flex;
    width: 15em;
    min-width: 250px;
    justify-content: space-between;
}

.containerButtons{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    min-width: 200px;
}

