.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container h2 {
  width: 100%;
  font-weight: 100;
  text-align: center;
  border-bottom: 0.2vw solid #9c87e0;
  margin-bottom: 2vh;
}

.containerArticles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
