.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.article figure{
    width: 100%;
    text-align: center;
    border-bottom: 0.2vw solid #9c87e0;
    padding-bottom: 2%;
}

.article figure img{
    width: 90%;
}

.contents{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.icons{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

.icons img{
    transition: all 1s;
}

.icons img:hover{
    cursor: pointer;
    scale: 1.1;
}