.productColorContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.productColorContainer div{
    display: flex;
    gap: .2em;
    flex-wrap: wrap
}

.productColor{
    width: 1em;
    height: 1em;
}