.contenedorCantidad{
    display: flex;
    min-width: 190px;
    justify-content: space-around;
    width: 70%;
  }

  .contenedorCantidad div{
    display: flex;
    justify-content: space-evenly;
  }
  
  .contenedorCantidad div button{
    width: auto;
    text-align: center;
  }
  
  .deliveryForm small{
    font-size: 0.6em;
  }
  
  .inputText , .inputDate{
    padding: 0.5vmax 1vmax;
    background-color: white;
    border-radius: 0.3em;
    border-style: none;
    font-size: 1em;
    color: #9C87E0;
  }
  
  .iconos {
    margin: 0 0.5vmax;
    background: none;
    border: none;
    width: 1vmax;
  }

  .deliveryForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmax;
    flex-wrap: wrap;
  }
  
  .imagen{
    width: 90%;
    min-width: 200px;
  }

  .rightContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    gap: 1vmax;
  }

  .leftContainer{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    width: 35%;
  }

  .inputText{
    width: 70%;
    min-width: 190px;
  }
  
  .inputText::placeholder{
    color: #9C87E0;
  }
  